<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>CSS Verificator</title> 
    <%= stylesheet_link_tag "global.css", :media=>"screen"%>
  </head> 
  <body> 
  
  <div id="page"> 
  <header> 
    <h1><a href="http://lab.pheromone.ca" target="_blank">phéromone<span>lab</span></a></h1> 
    <nav> 
      <ul>
        <%= locale_selector %>
      </ul> 
    </nav> 
  </header> 
   
    <%= yield %>

  </div> 
  <div id="about">Copyright (c) 2010 Benoit Goyette <a href="http://github.com/benoitgoyette/CssVerificator/blob/master/README.mdown"><%= t('about')%></a></div>
  </body>
</html> 