<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>CSS Verificator</title> 
    <%= stylesheet_link_tag "global.css", :media=>"screen"%>
  </head> 
  <body> 
  
  <div id="page"> 
  <header> 
    <h1>phéromone<span>lab</span></h1> 
    <nav> 
      <ul>
        <%= locale_selector %>
        <!-- <li>EN</li> 
        <li><a href="/css?locale=fr" title="Le site en français" hreflang="fr">FR</a></li>  -->
      </ul> 
    </nav> 
  </header> 
   
    <%= yield %>

  </div> 
  </body> 
</html> 