<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>CSS Verificator</title> 
    <%= stylesheet_link_tag "global.css", :media=>"screen"%>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20950413-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head> 
  <body> 
  
  <div id="page"> 
  <header> 
    <h1><a href="http://lab.pheromone.ca" target="_blank">phéromone<span>lab</span></a></h1> 
    <nav> 
      <ul>
        <%= locale_selector %>
      </ul> 
    </nav> 
  </header> 
   
    <%= yield %>

  </div> 
  <div id="about">Copyright (c) 2010 Benoit Goyette <a href="http://github.com/benoitgoyette/CssVerificator/blob/master/README.mdown"><%= t('about')%></a></div>
  </body>
</html> 
